*{
   box-sizing: border-box; 
   font-family: "Comfortaa", sans-serif;
   margin: 0;
}
.input_search {
    margin-right: 0;
    border-radius: 10px 0  0 10px;
    border: none;
}
.icon {
    border-radius:  0 10px 10px 0 ;
    border: none; 
}
.nav input[type=text] {
    width: 220px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color:#ffffff ;
    background-color:rgba(153, 0, 148, 0.31) ;
    background-image: url('./images/Vector.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding: 8px 40px 8px 15px;
    margin-right: 100px;
  }
  
  .nav input[type="text"]::placeholder {
    color: white;
  }
  .logo{
    font-size: 22px;
    font-weight: bolder;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px;
  }
  .nav{
    display: flex;
    gap: 50px;
  }

  .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0%;
  }
  .slider-section {
    height: 600px;
    background: linear-gradient(to bottom right, #CA26FF 40%, #F4CAC0 76%, #FFF3B0 );
    border-radius: 20px 20px 200px 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .photo{
    width: 40%;
    height: auto;align-self: center;
  }
  .content p{
    color: white;
    align-self: center;
    margin: 40px 0 0 22px;
  }
  .content button{
    color:#E07DDD;
    align-self: flex-end;
    background-color: black;
    border-radius:35px;
    border: none;
    padding: 8px 20px;
    margin-top: 8px;

  }
  .content .titles h1{
    font-weight: bold;
    font-size: 30px;
    letter-spacing:  0.12em;
    margin-bottom: 20px;

  }
  .content .titles h2{
    color: white;
    letter-spacing: 0.35em ;
    font-size: 35;
    font-weight: bold;
  }
  .new-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .line-text {
    display: flex;
    align-items: center;
  }
  
  .line-text::before , .line-text::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: black; 
  }
  .line-text::before{
    width: 10%;
  }
  .line-text span {
    font-size: 16px; 
    width: 180px ;
    padding: 0 8px;
    letter-spacing: .1em;
  }
  .movies-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .movie-card {
    display: flex;
    flex-direction: column;
    gap:16px ;
  }
  .movies-container .movie-card img{
    height: 360px;
    width: 180px;
  }
  .movies-container .movie-card button{
   border-radius: 35px;
   background-color: #330031;
   border: none;
   color: white;
   padding: 10px 0;
  }
.categories-section{    
    margin-top: 40px;
    background-color:  #3300310c;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px 70px;

}

.movies-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.movies-imgs img{
  height: auto;
  width: 280px;
}
.lined-ul {
    width: 55%;
}
.lined-ul::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(74, 73, 73); 
    display: block;
}
.lined-ul ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px;
}
.lined-ul a{
    text-decoration: none;
    color: #3d383d;
    border-bottom: #330031;
}
.lined-ul a:hover{
    border-bottom: #933C24 solid 3px;
}

.card-puying{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.card-puying span {
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.card-puying button , .card-puying span {
    border: none;
    color: white;
    padding: 11px 0 ;
    background-color: #330031;
}
.card-puying button  {
    border-radius:  0 0 20px 20px;
}
.puying-content ul{
    list-style-type: none;
    padding: 0;
}
.puying-content ul li{
    margin-bottom: 35px;
    font-size: 13px;
}
.puying-content{
    padding: 40px 12px 10px;
    background-color: white;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0;
}
.services-section {
    background-color: #3300310c;
    padding: 32px 40px 60px 90px;
}
.services-section h2 {
   letter-spacing: .1em;
   font-size: 30px;
}
footer {
  background-color: #330031;
  color: white;
}
.footer-cards {
  display: flex;
  padding: 50px;
  padding-top: 70px;
}
.footer-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.footer-card .sponsors  {
  height: 300px;
  border-left: 1.5px solid;
  border-right: 1.5px solid;
  text-align: center;
  width: 100%;
}
.card2  {
  flex-grow: 1.6;
}

.footer-card ul  {
  list-style-type: none;
  font-size: small;
  padding: 0 ;
}
.footer-card li  {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-card .media-name {
 /* margin-bottom: 30px; */
 margin: 0 0 10px 0;
 font-weight: bold;
 list-style-type: circle ;
}
.fa-brands {
  font-size: 24px; 
}
.copy-right{
  text-align: center;
  font-size: small;
}
.copy-right p{
  margin-bottom: 5px;
}
.like-line{
  display: flex;
  padding: 25px 0;
}
.like-line span{
  color: white;
  background-color: rgba(153, 0, 148, 0.31);
  width:135px ;
  padding: 7px;
}
.like-line::after{
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: rgba(153, 0, 148, 0.31); 
}
.posters{
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  padding: 30px 0;
}
.poster{
  display: flex;
  flex-direction: column;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);

}
.poster img{
  height: 230px;
  width: auto;
  border: #4a0248bb solid 4px;
  border-bottom: none;
  border-top-right-radius: 20px;
  margin-bottom: 0;
}
.description {
  text-align: center;
  border:#4a0248bb solid 4px;
  border-top: none;
  border-bottom-left-radius: 20px;
}
.description p{
  margin-bottom: 4px;
}
.tarif-section{
  background-color: rgba(242, 233, 242, 1);
  display: flex;
  flex-direction: column;
  padding: 70px 40px 50px;
  gap: 60px;
}
.tarif-section .title{
  align-self: center;
  font-size: larger;
}
.tarifs {
  display: flex;
  flex :1;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 15px;
  /* gap: 25px; */
}
.tarif{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 375px;
  width: 245px;
  justify-content: space-between;
  padding:16PX 14px;  
  background-color: white;
}
.tarif button{
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 8px;
}
.tarif ul{
  padding: 0 0 0 10px;
}
.tarif li{
  /* margin-bottom: 9px; */
}
/* family */
.tarif.family{
  border-top: rgba(153, 0, 148, 0.4) 20px solid;
  border-left: rgba(153, 0, 148, 0.4) solid 2px;
  border-bottom: rgba(153, 0, 148, 0.4) solid 2px;
  border-right: rgba(153, 0, 148, 0.4) solid 2px;
}
.family h2{
  color: rgba(153, 0, 148, 0.4);
}
.family button{
  background-color: rgba(153, 0, 148, 0.4);
}
/* student */
.tarif.student{
  border-top: rgba(153, 0, 148, 0.61) 20px solid;
  border-left: rgba(153, 0, 148, 0.61) solid 2px;
  border-bottom: rgba(153, 0, 148, 0.61) solid 2px;
  border-right: rgba(153, 0, 148, 0.61) solid 2px;
}
.student h2{
  color: rgba(153, 0, 148, 0.61);
}
.student button{
  background-color: rgba(153, 0, 148, 0.61);
}
/* adulte */
.tarif.adulte{
  border-top: rgba(153, 0, 148, 0.61) 20px solid;
  border-left: rgba(153, 0, 148, 0.61) solid 2px;
  border-bottom: rgba(153, 0, 148, 0.61) solid 2px;
  border-right: rgba(153, 0, 148, 0.61) solid 2px;
}
.adulte h2{
  color: rgba(153, 0, 148, 0.61);
}
.adulte button{
  background-color: rgba(153, 0, 148, 0.61);
}
/* child */
.tarif.child{
  border-top: rgba(153, 0, 148, 1) 20px solid;
  border-left: rgba(153, 0, 148, 1) solid 2px;
  border-bottom: rgba(153, 0, 148, 1) solid 2px;
  border-right: rgba(153, 0, 148, 1) solid 2px;
}
.child h2{
  color: rgba(153, 0, 148, 1);
}
.child button{
  background-color: rgba(153, 0, 148, 1);
}
/*-----------------------------------------*/
.contact-section{
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  gap: 60px;
  background-color: rgba(242, 233, 242, 1);
}
.contact-card input[type=text] ,.contact-card textarea {
  border: solid 2px rgba(51, 0, 49, 0.5);
  border-radius: 5px;
  font-size: 16px;
  color:rgba(51, 0, 49, 0.6) ;
  background-color:rgb(255, 255, 255) ;
  width: 470px;
  padding: 15px;
}
.contact-card{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-card button{
  align-self: flex-end;
  background-color: rgba(208, 138, 206, 1);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: medium;
}


   